@model IEnumerable<ShoesWeb.Models.CartItem>

@{
    ViewBag.Title = "ViewCart";
}

<style>
    .card {
        /*/ Add shadows to create the "card" effect /*/
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
    }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }
</style>
<div class="container mt-5">

    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header bg-white">
                    <h5>My Cart</h5>
                </div>
                <div class="card-body" style="overflow-y: scroll; height: 28rem">
                    @foreach (var item in Model)
                    {
                        <div class="media pb-4 pt-2">
                            <img class="align-self-center mr-3" src="@Url.Content("/Images/ProductImg/Boots/" + item.Product_Image)" height="130" width="130" />
                            <div class="media-body">
                                @Html.HiddenFor(modelItem => item.Cart_Id)
                                @Html.HiddenFor(modelItem => item.Customer_Id)
                                @Html.HiddenFor(modelItem => item.Store_Id)
                                @Html.HiddenFor(modelItem => item.Product_Id)
                                <label><b>@Html.DisplayFor(modelItem => item.Product_Name)</b></label><br />
                                <label>Size: @Html.DisplayFor(modelItem => item.Size)</label><br />
                                <label><i class="fas fa-rupee-sign"></i> @Html.DisplayFor(modelItem => item.Product_Price)</label><br />
                                <label>Color : @Html.DisplayFor(modelItem => item.Color)</label><br />
                                @Html.ActionLink("Remove", "Edit", new { /* id=item.PrimaryKey */ })
                            </div>
                        </div>
                    }

                </div>
                <div class="card-footer text-right">
                    @Html.ActionLink("Place Order", "PlaceOrder", "Order", new { controller = "Order" }, new { hidefocus = "hidefocus", @class = "btn btn-dark" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header bg-white">
                    <h5 class="text-light" style="color: #878787 !important">PRICE DETAILS</h5>
                </div>
                @if (Model.Any())
                {

                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col">
                                <label>Price (@Model.Count() item)</label>
                            </div>

                            <div class="col text-right">
                                <label><i class="fas fa-rupee-sign"></i>@Model.Sum(v => v.Product_Price)</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <label>Delivery Charges</label>
                            </div>
                            <div class="col text-right">
                                <label><i class="fas fa-rupee-sign"></i> 0</label>
                            </div>
                        </div>
                        <div class="form-group row border-top pt-3">
                            <div class="col">
                                <label><b>Total Amount</b></label>
                            </div>
                            <div class="col text-right">
                                <label><b><i class="fas fa-rupee-sign"></i>@Model.Sum(v => v.Product_Price)</b></label>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
