@model ShoesWeb.Models.Product

@{
    ViewBag.Title = "AddProduct";
}

<h4 class="text-center mb-5">Add New Product</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="col-md-5 mx-auto">
    <div class="form-group row">
        @Html.LabelFor(model => model.Product_Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Product_Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Product_Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row">
        @Html.Label("Category_Id", "Category", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Category_Id, ViewBag.Category as SelectList, "Please select", new { @class = "form-control" })
            @*@Html.EditorFor(model => model.Category_Name, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.ValidationMessageFor(model => model.Category_Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row">
        @Html.Label("Store_Id", "Store", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Store_Id, ViewBag.Store as SelectList, "Please select", new { @class = "form-control" })
            @*@Html.EditorFor(model => model.Store_Name, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.ValidationMessageFor(model => model.Store_Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row">
        @Html.Label("Product_Price", "Price", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Product_Price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Product_Price, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row">
        @Html.Label("Product_Quantity", "Quantity", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Product_Quantity, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Product_Quantity, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row">
        @Html.Label("Product_Image", "Image", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Product_Image, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Product_Image, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4 mx-auto">
            <input type="submit" value="Add" class="btn btn-info btn-block" />
        </div>
    </div>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}