@model ShoesWeb.Models.Product
@{
    ViewBag.Title = "UpdateProductById";
}

<h2>UpdateProductById</h2>
<div class="card" style="width:60%; margin:auto;">
    <div class="card-header bg-dark text-white">
        <h3>Edit </h3>
    </div>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Product_Id)
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Product_Name)
                        @Html.EditorFor(m => m.Product_Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.Product_Name)
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Category_Id)
                        @Html.EditorFor(m => m.Category_Id, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.Category_Id)
                    </div>
                </div>
            </div>
            <div class="row">
                
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Store_Id)
                        @Html.EditorFor(m => m.Store_Id, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.Store_Id)
                    </div>
                </div>
            </div>
            <div class="row">
                
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Price)
                        @Html.EditorFor(m => m.Price, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.Price)
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        }
    </div>
</div>
