@model ShoesWeb.Models.Product

@{
    ViewBag.Title = "UpdateProductById";
}

<h3 class="text-center mb-5 mt-3">Update Product</h3>


@using (Html.BeginForm("UpdateProductById", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
@Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Product_Id)

    <div class="col-md-6 mx-auto">
        <div class="row">
            <div class="col-md-10 text-md-right">
                <div class="form-group row">
                    @Html.LabelFor(model => model.Product_Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Product_Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Product_Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.Label("Category_Id", "Category", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.Category_Id, ViewBag.Category as SelectList, "Please select", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Category_Id, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.Label("Store_Id", "Store", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.Store_Id, ViewBag.Store as SelectList, "Please select", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Store_Id, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.Label("Product_Price", "Price", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Product_Price, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Product_Price, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.Label("Product_Quantity", "Quantity", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Product_Quantity, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Product_Quantity, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.Label("Product_Image", "Image", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Product_Image, new { htmlAttributes = new { @class = "form-control", @type = "file" } })
                       
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4 mx-auto">
                        <input type="submit" value="Save" class="btn btn-info btn-block" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10 text-success">
                        @ViewBag.FileStatus
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <img src="@Url.Content("/Images/ProductImg/Boots/" + @Model.Product_Image)" alt="@Model.Product_Image" height="200" width="200" /><br />
            </div>
        </div>
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>

</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
