@model IEnumerable<ShoesWeb.Models.Order>

@{
    ViewBag.Title = "AllOrder";
}

<link href="https://cdn.datatables.net/1.11.2/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

<h3 class="text-center mt-4">All Orders</h3>
<div class="container-fluid">

    @using (Html.BeginForm("AllOrder", "Order", FormMethod.Get))
    {
        <span>Search by Store Name:</span> 
        <div class="col-md-5 mb-4">
            <div class="row">
                @Html.DropDownList("id", ViewBag.Store as SelectList, "Please select", new { @class = "form-control col-md-8 mt-3" })
                <div class="col-md-4 pt-3">
                    <input type="submit" value="Search" class="btn btn-dark" />
                </div>
            </div>
        </div>
    }

    <table id="orderTable" class="table table-bordered text-center w-100 table-striped">
        <thead>
            <tr class="bg-light">
                <th>Order Id</th>
                <th>Total Bill</th>
                <th>Customer Id</th>
                <th>Store Id</th>
                <th>Order Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Order_Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.TotalBill)</td>
                    <td>@Html.DisplayFor(modelItem => item.Customer_Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.Store_Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.Date)</td>
                </tr>

            }
        </tbody>
    </table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.11.2/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.2/js/dataTables.bootstrap4.min.js"></script>
<script>
    $('#orderTable').DataTable();
</script>